.turbo/**
.vscode/**
src/**
.depcheckrc.json
.eslintrc.cjs
development.md
esbuild.js
jasmine.json
README.orig.md
tsconfig.src.json
tsconfig.ut.json
vsc-extension-quickstart.md
**/tsconfig.*
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
